/*--------------------------------------------------------------------- File Name: style-about.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(slick.css);
@import url(nice-select.css);
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

@font-face {
     font-family: 'cyberpunk';
     src: url('cyberpunk/cyberpunk.ttf') format('truetype'),
     url('cyberpunk/cyberpunk.otf') format('opentype');
}
@font-face {
     font-family: 'blenderProbook';
     src: url('blenderproBook/Blender-Pro-Book.otf') format('opentype')
}

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
}

:root {
     ---button-accent-color: #F7EC50;
     ---banner-background-color: #F7EC50;
     ---button-hover-color: #36EBF2;
     ---banner-text-color: #000000;
     ---Background-Color: #000000;
     ---button-text_color: #000000;
     ---General-Text-Color: #F7EC50;
     ---hover-button-color: #36EBF2;
     ---focus-button-color: red;
     ---focus-button-text-color: white;
     ---focus-button-hover-color: darkred;
     ---nav-background-color: #000000;
     ---nav-text-color: #F7EC50;
     ---nav-text-hover-color: #36EBF2;
     ---nav-text-active-color: #36EBF2;
     ---button-bright-text_color: #F7EC50;
     ---button-dark-accent-color: #000000;
     ---button-hover-text_color: #36EBF2;
     ---button-border-color: #F7EC50;

     ---button-border-radius: 5px;
}
::placeholder {
     color: var(---button-accent-color);
}



html {
     scroll-behavior: smooth;
}

body {
     color: var(---General-Text-Color);
     font-size: 14px;
     font-family: 'Kdam Thmor Pro', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
     background: var(---Background-Color);
}

a {
     color: var(---General-Text-Color);
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}




h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     line-height: normal;
     margin: 0
}

h1 {
     font-size: 50px;
     font-family: Cyberpunk, sans-serif;
}

h2 {
     font-size: 22px;
     font-family: Cyberpunk, cursive;
}

h3 {
     font-size: 18px;
     font-family: Cyberpunk, cursive;
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: var(---button-accent-color);
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0;
     padding: 0;
     list-style: none;
}

p {
     margin: 0;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: var(---button-accent-color);
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

:focus {
     outline: 0;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid var(---General-Text-Color);
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: var(---hover-button-color);
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 90px;
}

.layout_padding_2 {
     padding-top: 75px;
     padding-bottom: 75px;
}

.light_silver {
     background: #f9f9f9;
}

.theme_bg {
     background: #38c8a8;
}

.margin_top_30 {
     margin-top: 30px !important;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}


/**-- heading section --**/


/*---------------------------- preloader area ----------------------------*/



/*-- navigation--*/

.navigation.navbar {
     float: right;
     padding-top: 12px;
}

.navigation.navbar-dark .navbar-nav .nav-link {
     padding: 0 25px;
     color: var(---nav-text-color);
     font-size: 16px;
     line-height: 20px;
     text-transform: uppercase;
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
     color: var(---nav-text-hover-color);
}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
     color: var(---nav-text-active-color);
}

.navbar-expand-md .navbar-nav {
     padding-right: 10px;
}

.sign_btn a {
     background-color: var(---focus-button-color);
     display: inline-block;
     padding: 7px 35px;
     border-radius: var(---button-border-radius);
     color: var(---focus-button-text-color);
     font-size: 17px;
}

.sign_btn a:hover {
     color: var(---button-text_color);
}


/*-- header area --*/


/*--------------------------------------------------------------------- top banner area ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- layout new css ---------------------------------------------------------------------*/

.head_top {
     background-repeat: no-repeat;
}

.header {
     width: 100%;
     background: var(---nav-background-color);
     padding: 30px 30px;
     position: absolute;
     z-index: 999;
}

.logo a {
     font-size: 40px;
     font-weight: bold;
     text-transform: uppercase;
     color: var(---General-Text-Color); //??????
     line-height: 40px;
}

.text-bg {
     text-align: left;
     max-width: 429px;
     width: 100%;
     float: right;
     padding-top: 190px;
     padding-bottom: 50px;
}

.text-bg h1 {
     color: var(---button-accent-color);
     font-size: 67px;
     line-height: 90px;
     padding-bottom: 70px;
     font-weight: bold;
}

.text-bg strong {
     font-size: 27px;
     line-height: 35px;
     color: var(---focus-button-hover-color);
}

.text-bg span {
     font-family: blenderProbook, cursive;
     color: var(---focus-button-color);
     font-size: 40px;
     line-height: 77px;
     font-weight: bold;
     padding-bottom: 20px;
     display: block;
}

.text-bg a {
     font-size: 17px;
     background-color: var(---Background-Color);
     color: var(---General-Text-Color);
     padding: 13px 0;
     width: 100%;
     max-width: 190px;
     text-align: center;
     display: inline-block;
     transition: ease-in all 0.5s;
     border-radius: 15px;
}

.text-bg a:hover {
     background-color: var(---button-text_color);
     color: var(---General-Text-Color);
     transition: ease-in all 0.5s;
     border-radius: 26px;
}

.text-img {
     height: 750px;
     background: linear-gradient(to bottom, var(---focus-button-hover-color) 0%, var(---focus-button-color) 100%);
     border-radius: 322px 0 0 380px;
     padding: 132px 20px 0 50px;
}

.text-img figure {
     margin: 0;
}

.text-img figure img {
     width: 100%;
}

.text-img figure {position: relative;}
.text-img h3 {
     top: 387px;
     position: absolute;
     align-items: center;
     left: -14px;
     background: var(---button-accent-color);
     width: 60px;
     height: -1px;

     border-radius: 72px;
     color: var(---General-Text-Color);
     padding: 7px 12px;
     font-size: 21px;
     border: var(---button-text_color) solid 7px;}







.padding_right1 {
     padding-right: 0;
}

.titlepage {
     text-align: center;
     padding-bottom: 60px;
}

.titlepage h2 {
     font-size: 50px;
     color: var(---button-text_color);
     line-height: 50px;
     font-weight: bold;
     padding: 0;
}

.d_flex {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}



.about {
     margin-top: 90px;
     background: var(---hover-button-color);
     padding: 60px 0;
}

.about .titlepage h2 {
     margin-bottom: 20px;
     color: var(---General-Text-Color);
}

.about .titlepage span {
     color: var(---General-Text-Color);
     font-size: 17px;
}

.about .about_box {
     text-align: center;
}

.about .about_box figure {
     margin: 0;
}

.about .about_box figure img {
     width: 130%;
}

.about .about_box .read_more {
     background: var(---button-dark-accent-color);
     color: var(---button-bright-text_color);
     border-radius: 15px;
}

.about .about_box .read_more:hover {
     background: var(---button-text_color);
}


/** end about section **/


/** best section **/

.best {
     background: var(---hover-button-color);
     margin-top: 0;
     padding-bottom: 120px;
}

.best .titlepage h2 {
     color: var(---button-text_color);
     margin-bottom: 20px;
}

.best .titlepage span {
     color: var(---button-text_color);
     font-size: 17px;
     line-height: 28px;
}

.best_box {
     text-align: center;
     background-color: var(---focus-button-color);
     border-radius: 20px;
     padding: 30px 20px;
     margin-bottom: 30px;
}

.best_box h4 {
     color: var(---General-Text-Color);
     text-transform: uppercase;
     font-size: 30px;
     line-height: 40px;
     font-weight: 500;
     padding: 0;
}

.best_box p {
     color: var(---General-Text-Color);
     font-size: 17px;
     line-height: 28px;
     padding-top: 25px;
}

.best .read_more {
     margin: 0 auto;
     display: block;
     border-radius: 15px;
     margin-top: 30px;
     background-color: var(---focus-button-color);
     color: var(---button-text_color);
}

.best .read_more:hover {
     background-color: var(---button-text_color);
}


/** end best section **/


/** request section **/

.padd_leri0 {
     padding-left: 0;
     padding-right: 0;
}

.request .titlepage h2 {
     margin-bottom: 20px;
     padding-bottom: 10px
}

.request .titlepage span {
     font-size: 17px;
     line-height: 28px;
}

.request {
     padding-top: 90px;
}

.main_form {
     padding: 50px 0 50px 40px;
}

.black_bg {
     /*background-color: var(---yellow);*/
}

.request .main_form .contactus {
     border: inherit;
     padding: 0 19px;
     margin-bottom: 20px;
     width: 100%;
     height: 60px;
     background: var(---General-Text-Color);
     color: var(---focus-button-hover-color);
     placeholder: var(---focus-button-hover-color);
     font-size: 17px;
     border-radius: 15px;
}

.request .main_form .textarea {
     border: inherit;
     padding: 0 19px;
     margin-bottom: 20px;
     width: 100%;
     height: 140px;
     background: var(---General-Text-Color);
     color: var(---focus-button-hover-color);
     font-size: 17px;
     border-radius: 15px;
     padding-top: 51px;
}

.request .main_form .send_btn {
     font-size: 17px;
     transition: ease-in all 0.5s;
     background-color: var(---Background-Color);
     color: var(---General-Text-Color);
     padding: 13px 0;
     margin: 0 auto;
     max-width: 200px;
     width: 100%;
     display: block;
     margin-top: 30px;
     border-radius: 15px;
}

.request .main_form .send_btn:hover {
     background-color: var(---button-text_color);
     transition: ease-in all 0.5s;
     color: var(---General-Text-Color);
     border-radius: 26px;
}

#request *::placeholder {
     color: var(---General-Text-Color);
     opacity: 1;
}

.mane_img figure {
     margin: 0;
}

.mane_img figure img {
     width: 100%;
}


/** end request section **/

.read_more {
     font-size: 17px;
     background-color: var(---General-Text-Color);
     color: var(---button-accent-color);
     padding: 13px 0;
     width: 100%;
     max-width: 190px;
     text-align: center;
     display: inline-block;
     transition: ease-in all 0.5s;
}

.read_more:hover {
     background: var(---button-accent-color);
     color: var(---General-Text-Color);
     border-radius: 26px;
     transition: ease-in all 0.5s;
}


/** two_box section section **/

.two_box {
     background: var(---General-Text-Color);
     margin-top: 90px;
     padding: 0 40px;
}

.two_box figure {
     margin: 0;
}

.two_box figure img {
     width: 100%;
}

.two_box h2 {
     color: var(---focus-button-color);
     font-size: 60px;
     line-height: 65px;
     padding-bottom: 25px;
}

.two_box p {
     font-size: 17px;
     line-height: 28px;
     color: var(---focus-button-hover-color);
}

.offer {
     font-size: 100px;
}


/** end two_box section **/


/** testimonial section **/

.testimonial {
     margin-top: 0;
     padding-top: 120px;
     padding-bottom: 120px;
     background: rgba(1, 124, 76, 0);
}

.testimonial .titlepage h2 {
     color: var(---General-Text-Color);
}

.testimonial_Carousel .carousel-caption {
     position: inherit;
     padding: 0;
}

.testimonial_box {
     text-align: center;
}

.test_box {
     padding-bottom: 35px;
}

.padd_rightt0 {
     padding-right: 10px;
}

.padd_leftt0 {
     padding-left: 10px;
}

.testimonial_Carousel .test_box h3 {
     font-size: 30px;
     color: var(---button-text_color);
     line-height: 32px;
     display: inline-block;
     padding-bottom: 40px;
}

.testimonial_Carousel .test_box p {
     font-size: 17px;
     line-height: 28px;
     color: var(---General-Text-Color);
     font-style: Italic;
}

.testimonial_Carousel .carousel-indicators {
     bottom: -30px;
}

.testimonial_Carousel .carousel-indicators li {
     width: 15px;
     height: 13px;
     background: var(---Background-Color);
}

.testimonial_Carousel .carousel-indicators li.active {
     background: var(---General-Text-Color);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
     display: none;
}


/** end testimonial section **/


/** footer **/

.multi {
     color: var(---button-text_color);
     font-weight: bold;
     font-size: 40px;
}

.footer {
     border-top: var(---button-accent-color) solid 1px;
     font-family: blenderProbook, serif;
     background: var(---button-accent-color);
     padding-top: 50px;
}

.cont {
     text-align: left;
}

.cont h3 {
     /*color: var(---cyan);*/
     color: var(---banner-text-color);
     font-size: 37px;
     line-height: 55px;
     font-weight: bold;
}

.cont_call h3 {
     /*color: var(---cyan);*/
     color: var(---banner-text-color);
     font-size: 50px;
     line-height: 60px;
     font-weight: bold;
}

.copyright {
     margin-top: 43px;
     padding: 20px 0;
     background-color: var(---button-accent-color);
}

.copyright p {
     color: var(---General-Text-Color);
     font-size: 18px;
     line-height: 22px;
     text-align: center;
}

.copyright a {
     color: var(---General-Text-Color);
}

.copyright a:hover {
     color: var(---button-text_color);
}
/** end footer **/



/*-------------------------------- products section ------------------------------*/

/* slider section */
.slider_section {
     color: var(---banner-text-color);
     -webkit-box-flex: 1;
     -ms-flex: 1;
     flex: 1;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     padding: 150px 0;
     background-color: var(---banner-background-color);
}

.slider_section .row {
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
}

.slider_section #customCarousel1 {
     width: 100%;
     position: unset;
}

.slider_section .detail-box {
     color: var(---banner-text-color);
}

.slider_section .detail-box h1 {
     font-weight: bold;
     margin-bottom: 25px;
}

.slider_section .detail-box h1 span {
     color: var(---banner-text-color);
}

.slider_section .detail-box p {
     color: var(---banner-text-color);
}

.slider_section .detail-box a {
     display: inline-block;
     padding: 10px 45px;
     background-color: var(---button-dark-accent-color);
     color: var(---button-bright-text_color);
     border-radius: var(---button-border-radius);
     border: 1px solid var(---General-Text-Color);
     -webkit-transition: all .3s;
     transition: all .3s;
     margin-top: 15px;
}

.slider_section .detail-box a:hover {
     background-color: transparent;
     color: var(---button-hover-color);
}

.slider_section .img-box img {
     width: 100%;
}

.slider_section .carousel_btn_box {
     position: absolute;
     bottom: 0;
     left: 0;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
     width: 110px;
     height: 50px;
     -webkit-transform: translateY(50%);
     transform: translateY(50%);
     z-index: 3;
}

.slider_section .carousel_btn_box .carousel-control-prev,
.slider_section .carousel_btn_box .carousel-control-next {

     border-radius: var(---button-border-radius);
     position: unset;
     width: 50px;
     height: 50px;
     background-color: var(---button-accent-color);
     opacity: 1;
     -webkit-transition: all .2s;
     transition: all .2s;
     font-size: 18px;
}

.slider_section .carousel_btn_box .carousel-control-prev img,
.slider_section .carousel_btn_box .carousel-control-next img {
     width: 10px;
}

.slider_section .carousel_btn_box .carousel-control-prev:hover,
.slider_section .carousel_btn_box .carousel-control-next:hover {
     background-color: var(---button-hover-color);
}

.product_section .heading_container {
     margin-bottom: 25px;
}

.product_section .box {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     padding: 15px;
     margin-top: 15px;
     position: relative;
     overflow: hidden;
}

.product_section .box .img-box {
     border-radius: var(---button-border-radius);
     background-color: var(---banner-background-color);
     width: 100%;
     height: 275px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     position: relative;
     padding: 15px;
}

.product_section .box .img-box img {
     height: 175px;
     max-width: 100%;
}

.product_section .box .img-box .add_cart_btn {
     display: inline-block;
     width: 175px;
     text-align: center;
     height: 45px;
     line-height: 45px;
     background-color: var(---banner-background-color);
     color: var(---button-text_color);
     position: absolute;
     bottom: 50%;
     left: 50%;
     -webkit-transform: translate(-50%, 50%);
     transform: translate(-50%, 50%);
     -webkit-transition: all .3s;
     transition: all .3s;
     opacity: 0;
     z-index: 3;
}

.product_section .box .img-box .add_cart_btn:hover {
     background-color: var(---button-hover-color);
     color: var(---button-hover-text_color);
}

.product_section .box .img-box::before {
     content: "";
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     background-color: var(---Background-Color);
     z-index: 1;
     opacity: 0;
     -webkit-transition: all .2s;
     transition: all .2s;
}

.product_section .box .detail-box {
     padding-top: 15px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
     flex-direction: column;
     width: 100%;
}

.product_section .box .product_info {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
}

.product_section .box .star_container {
     color: var(---button-text_color);
}

.product_section .box:hover .img-box .add_cart_btn {
     opacity: 1;
     visibility: visible;
}

.product_section .box:hover .img-box::before {
     opacity: .55;
}

.product_section .btn_box {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     margin-top: 45px;
}

.product_section .btn_box .view_more-link {
     display: inline-block;
     padding: 10px 45px;
     background-color: var(---button-accent-color);
     color: var(---button-text_color);
     border-radius: 5px;
     border: 1px solid var(---button-border-color);
     -webkit-transition: all .3s;
     transition: all .3s;
}

.product_section .btn_box .view_more-link:hover {
     background-color: transparent;
     color: var(---General-Text-Color);
}

.about_section {
     background-color: var(---Background-Color);
     color: var(---General-Text-Color);
}

.about_section .row {
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
}

.about_section .img-box img {
     width: 100%;
}

.about_section .detail-box {
     margin: 45px 0;
}

.about_section .detail-box p {
     color: var(---General-Text-Color);
     margin-top: 15px;
}

.about_section .detail-box a {
     display: inline-block;
     padding: 10px 45px;
     background-color: var(---General-Text-Color);
     color: var(---button-text_color);
     border-radius: 5px;
     border: 1px solid var(---General-Text-Color);
     -webkit-transition: all .3s;
     transition: all .3s;
     margin-top: 15px;
}

.about_section .detail-box a:hover {
     background-color: transparent;
     color: var(---button-hover-color);
}

.why_us_section {
     position: relative;
     color: var(---banner-text-color);
     background-color: var(---banner-background-color);
}

.why_us_section .heading_container {
     margin-bottom: 20px;
}

.why_us_section .box {
     margin-top: 25px;
     text-align: center;
     -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
     box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
     padding: 25px 15px;
}

.why_us_section .box .img-box {
     height: 45px;
}

.why_us_section .box .img-box img {
     height: 100%;
     -webkit-filter: brightness(0);
     filter: brightness(0);
     -webkit-transition: all 0.3s;
     transition: all 0.3s;
}

.why_us_section .box .detail-box {
     margin-top: 15px;
}

.why_us_section .box .detail-box h5 {
     font-weight: bold;
     text-transform: uppercase;
}

.why_us_section .box .detail-box a {
     color: var(---button-text_color);
     font-weight: 600;
}

.why_us_section .box .detail-box a:hover {
     color: var(---banner-text-color);
}

.why_us_section .box:hover .img-box img {
     -webkit-filter: brightness(1);
     filter: brightness(1);
}

.client_section .client_container {
     margin: 15px auto 0 auto;
}

.client_section .client_container .box {
     margin: 20px auto;
}

.client_section .client_container .box .detail-box {
     padding: 35px;
     -webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.29);
     box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.29);
}

.client_section .client_container .box .detail-box p {
     margin: 0;
}

.client_section .client_container .box .client-id {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: end;
     -ms-flex-align: end;
     align-items: flex-end;
     margin-top: 25px;
}

.client_section .client_container .box .client-id .img-box {
     min-width: 90px;
     margin-right: 25px;
     background-color: var(---banner-background-color);
     padding: 55px 15px 15px 15px;
     -webkit-clip-path: polygon(35% 15%, 50% 0, 65% 15%, 100% 15%, 100% 100%, 0 100%, 0 15%);
     clip-path: polygon(35% 15%, 50% 0, 65% 15%, 100% 15%, 100% 100%, 0 100%, 0 15%);
}

.client_section .client_container .box .client-id .img-box img {
     width: 100%;
}

.client_section .client_container .box .client-id .name {
     margin-bottom: 15px;
}

.client_section .client_container .box .client-id .name h5 {
     font-weight: bold;
     text-transform: uppercase;
}

.client_section .client_container .box .client-id .name h6 {
     color: var(---General-Text-Color);
     font-weight: normal;
}

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
     width: 50px;
     height: 50px;
     top: 24%;
     z-index: 9;
     opacity: 1;
     background-color: var(---Background-Color);
     font-size: 24px;
     -webkit-transition: all .2s;
     transition: all .2s;
}

.client_section .carousel-control-prev:hover,
.client_section .carousel-control-next:hover {
     background-color: var(---General-Text-Color);
}

.client_section .carousel-control-prev {
     left: 45px;
}

.client_section .carousel-control-next {
     right: 45px;
}

.info_section {
     background-color: var(---Background-Color);
     color: var(---focus-button-hover-color);
     padding: 90px 0 45px 0;
}

.info_section h5 {
     margin-bottom: 15px;
     font-size: 24px;
}

.info_section .info_links ul {
     padding: 0;
}

.info_section .info_links ul li {
     list-style-type: none;
}

.info_section .info_links ul li a {
     display: inline-block;
     color: var(---banner-text-color);
     margin-bottom: 5px;
}

.info_section .info_form form input {
     outline: none;
     width: 100%;
     padding: 7px 10px;
}

.info_section .info_form form button {
     padding: 8px 35px;
     outline: none;
     border: none;
     color: var(---banner-text-color);
     background: var(---General-Text-Color);
     margin-top: 15px;
     text-transform: uppercase;
}

.info_section .info_form .social_box {
     margin-top: 35px;
     width: 100%;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
}

.info_section .info_form .social_box a {
     margin-right: 25px;
     color: var(---banner-text-color);
     font-size: 24px;
}

/* end of products section */