<section class="cart">
    <h3 id="cart-title"></h3>
    <div class="cart-grid">
        <div class="cart-product" th:each="quantity : ${quantities}" th:product-id="@{${quantity.product.id}}">
            <div class="div-row mobile">
                <a th:href="@{/products/{id} (id=${quantity.product.id})}">
                    <picture th:replace="~{components/webpImage ::  webp(${quantity.product.image}, products, ${quantity.product.name})}"></picture>
                </a>
                <div class="div-product-info">
                    <h4 th:text="${quantity.product.name}"></h4>
                    <p class="description" th:text="${quantity.product.description}"></p>
                </div>
            </div>
            <div class="div-row mobile price">
                <div class="div-column">
                    <p>Price per Item</p>
                    <p><span th:text="${quantity.product.price}"></span> kr</p>
                </div>
                <div class="div-column">
                    <p>Total product price</p>
                    <p><span th:id="|totalPrice-${quantity.product.id}|" th:text="${quantity.product.price * quantity.getAmount()}"></span> kr</p>
                </div>
                <div class="div-column">
                    <p>Amount Ordered</p>
                    <div class="div-row order">
                        <button class="decrease boring-button" th:data-product="${quantity.product.id}" th:disabled="${quantity.getAmount() <= 1} ?: 'disabled'">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15" />
                            </svg>
                        </button>
                        <p th:id="|amount-${quantity.product.id}|" th:text="${quantity.getAmount()}"></p>
                        <button class="increase boring-button" th:data-product="${quantity.product.id}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="div-column">
                    <p>Delete</p>
                    <button class="delete remove-from-cart boring-button" th:data-product-id="${quantity.product.id}"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>