<section class="product-category-card">
        <div class="card-container" >
        <a class="card-box" th:each="category : ${categories}" th:href="@{/category/{id} (id=${category.id})}">
        <th:block th:if="${category?.image != null}">
            <picture th:replace="~{components/webpImage ::  webp(${category.image}, categories, ${category.name})}"></picture>
        </th:block>
            <div class="card-layer">
            <h3 th:text="${category.name}"></h3>
            </div>
        </a>
    </div>
</section>