<section class="category">
    <h2 class="heading">Selection of <span>Category</span></h2>

    <div class="category-container" >
        <a class="category-box" th:each="category : ${categories}" th:href="@{/categories/{id} (id=${category.id})}">
            <img th:src="@{images/categories/{image} (image=${category.image})}" th:alt="@{Picture of {name} (name=${category.name})}">
            <div class="category-layer">
                <h3 th:text="${category.name}"></h3>
            </div>
        </a>
    </div>
</section>