<a class="cart-grid " th:each="product : ${products}" th:href="@{/products/{id} (id=${product.id})}">
  <div class="cart-product ">
    <div class="div-row mobile hover">
      <picture th:replace="~{components/webpImage ::  webp(${product.image}, products, ${product.name})}"></picture>
      <div class="div-product-info">
        <h3 th:text="${product.name}"></h3>
        <p class="description" th:text="${product.description}"></p>
        <p th:text="'Price: $' + ${product.price}"></p>
      </div>
    </div>
  </div>
</a>