<head th:fragment="common_head(title)">
    <meta charset="UTF-8"/>
    <title th:replace="${title}">CyberPunk Store</title>
    <link rel="stylesheet" th:href="@{~/style.css}"/>
    <link rel="stylesheet" th:href="@{~/product-card.css}"/>
    <link rel="stylesheet" th:href="@{~/product-page.css}"/>
    <link rel="stylesheet" th:href="@{~/login.css}"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <script src="../static/scripts.js"></script>
</head>
