
<header class="header">
    <link rel="stylesheet" th:href="@{header.css}"/>
    <link rel="stylesheet" th:href="@{style.css}"/>
    <nav>
    <img href="/" class="logo" th:src="@{images/logo.png}" alt="Logo">
    <input type="text" placeholder="Search..">
    <ul class="header-right">
        <li><a href="/">Home</a></li>
        <li><a th:href="@{/category}">Category</a></li>
        <li><a th:href="@{/about}">About us</a></li>
        <li><a th:href="@{/account}">Account</a></li>
        <li><a th:href="@{/cart}">Cart</a></li>
    </ul>
</nav>
</header>