<header>
    <div class="header">
        <a href="/" ><h1>Cyberpunk Gaming Gear</h1></a>
        <div class="search-bar">
            <form id="search-form" th:action="@{/search}" method="get">
                <label for="search" class="hide">Search: </label>
                <input id="search" class="search" type="text" name="name" placeholder="Search..">
            </form>
        </div>
        <nav class="navbar">
            <a href="/">Home</a>
            <a th:href="@{/categories}">Category</a>
            <a th:href="@{/about}">About us</a>
            <a th:href="@{/cart}">Cart</a>
            <!--suppress XmlUnboundNsPrefix -->
            <a sec:authorize="isAnonymous()" th:href="@{/login}">Login</a>
            <!--suppress XmlUnboundNsPrefix -->
            <a sec:authorize="isAuthenticated()" th:href="@{/account}">Account</a>
        </nav>
    </div>
    <div class="ghostHeader"></div>
</header>