<head th:fragment="commonHead(title, links)">
    <meta charset="UTF-8"/>
    <meta name="description" content="Cyberpunk Gaming Gear is a cutting edge company specializing in the most advanced cyberpunk gaming gadgets available. From headsets to keyboards, mice to controllers, we have everything you need to get the most out of your gaming experience. Our products feature the latest in cyberpunk technology, with sleek designs and advanced capabilities. Experience the power of cyberpunk gaming with us today! Let us take your gaming to the next level.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <th:block th:if="${title}">
        <title th:replace="${title}">CyberPunk Store</title>
    </th:block>
    <title th:unless="${title}">CyberPunk Store</title>
    <link rel="icon" th:href="@{~/images/logo.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{~/css/style.css}"/>
    <th:block th:replace="${links}"/>
</head>