<nav>
    <ul class="header-right">
        <img href="/" class="logo" th:src="@{images/{daftpunk}.png}" alt="Logo">
        <input type="text" placeholder="Search..">

        <li><a href="/">Home</a></li>
        <li><a th:href="@{/catagory}">Category</a></li>
        <li><a th:href="@{/about}">About us</a></li>
        <li><a th:href="@{/account}">Account</a></li>
        <li><a th:href="@{/cart}">Cart</a></li>
    </ul>

    <ul id="productList">
        <li>Product 1</li>
        <li>Product 2</li>
        <li>Product 3</li>
        <li>Product 4</li>
    </ul>
</nav>
