<section class="cart">
  <h3 id="cart-title"></h3>
  <a class="purchase-card-instance" th:each="quantity : ${purchase.items}" th:product-id="@{${quantity.product.id}}"  th:href="@{/products/{id} (id=${quantity.product.id})}">
    <div class="cart-product" >
      <div class="div-row mobile">
        <div>
          <picture th:replace="~{components/webpImage ::  webp(${quantity.product.image}, products, ${quantity.product.name})}"></picture>
        </div>
        <div class="div-product-info">
          <h4 th:text="${quantity.product.name}"></h4>
          <p class="description" th:text="${quantity.product.shortDescription}"></p>
        </div>
      </div>
      <div class="div-row mobile price">
        <div class="div-column">
          <h5>Price per Item</h5>
          <p><span th:text="${quantity.product.price}"></span> kr</p>
        </div>
        <div class="div-column">
          <h5>Total product price</h5>
          <p><span th:id="|totalPrice-${quantity.product.id}|" th:text="${quantity.product.price * quantity.getAmount()}"></span> kr</p>
        </div>
        <div class="div-column">
          <h5>Amount Ordered</h5>
          <p th:id="|amount-${quantity.product.id}|" th:text="${quantity.getAmount()}"></p>
        </div>
      </div>
    </div>
  </a>
</section>