<picture class="picture" th:fragment="webp(image, alt)">
    <source th:srcset="|${image.primaryImage} 1x, ${image.imageWebp512} 1.5x, ${image.imageWebp760} 2x, ${image.imageWebp1024} 2.5x, ${image.imageWebp2048} 3x|"
            sizes="(max-width: 360px) 360px, (max-width: 512px) 512px,
            (max-width: 760px) 760px, (max-width: 1024px) 1024px, 2048px"
            type="image/webp">
    <img th:src="${image.primaryImage}"
         th:alt="|Picture of ${alt}|"
         width="360" height="360">
</picture>
