<picture th:fragment="webp(image, alt)">
    <source th:srcset="|${image.primaryImage} 360w, ${image.imageWebp512} 512w, ${image.imageWebp760} 760w|"
            sizes="(max-width: 512px) calc(100vw - 30px), (max-width: 768px) calc(100vw - 116px), (max-width: 1024px) calc((100vw - 116px) / 2), (max-width: 2488px) calc((100vw - 398px) / 3), calc((100vw - 523px) / 4)"
            type="image/webp">
    <img th:src="${image.primaryImage}"
         th:alt="|Picture of ${alt}|"
         width="360" height="360">
</picture>