.featuredProducts {
    background-color: black;
    padding: 2%;
}

.featuredProducts h2 {
    margin-bottom: 1rem;
}

.featuredProducts h2 span {
    margin-bottom: 1rem;
    font-size: 1.7rem;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.product-container .product-box {
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 0 1rem var(---black);
    display: flex;
}

.product-box img {
    width: 100%;
    height: auto;
    transition: .5s ease;
}

.product-box:hover img {
    transform: scale(1.1);
}

.product-box .product-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(---blue));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transform: translateY(100%);
    transition: .5s ease;
    gap: 2rem;
}

.product-box:hover .product-layer {
    transform: translateY(0);
}

.product-layer h3 {
    font-size: 1.5rem;
}

.product-layer p {
    margin: .3rem 0 1rem;
}

.product-layer a i {
    font-size: 2rem;
    color: white;
}

@media (max-width: 1024px) {
    .product-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }
}