footer {
    text-align: center;
    background-color: var(---extra-dark-grey);
    padding: 1em;
}

footer p {
    color: #CCC;
    margin-bottom: 0;
    padding: 0.5em;
}

footer h3 {
    margin-bottom: 0;
}
