.company-name {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}


header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

header ul {
    margin: 0;
    padding: 0 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

header a {
    text-align: center;
    padding: 12px;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
}

header img.logo {
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
}

header a:hover {
    background-color: var(---hover-button-color);
    color: var(---General-hover-Text-Color);
}

header input[type=text] {
    padding: 6px;
    background-color: var(---Background-Color);
    color: var(---General-Text-Color);
    border: 2px solid var(---button-accent-color);
}