.product-page-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 1rem;
}

.buy-now-and-add-to-cart-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.red-button:hover {
    background-color: var(---secondText);
    color: var(---secondBackground);
    cursor: pointer;
}

.product-page-description h1 {
    font-size: 2rem;
    color: var(---secondText);
}

.product-intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.specs-button, .rating-button, .about-button {
    border-radius: 5px;
    background-color: var(---secondBackground);
    color: white;
    padding: 1em;
    margin: 1em;
}

.specs-rating-about-buttons{
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: space-around;
    list-style-type: none;
}

.specs-button:hover, .rating-button:hover, .about-button:hover {
    background-color: var(---secondBackground);
    color: var(---secondText);
    cursor: pointer;
}

.product-about-page {
    width: 100%;
}

@media (max-width: 1024px) {
    .sections .product-image {
        width: 50%;
        border-radius: 1rem;
    }

    .product-intro {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .product-page-description {
        width: 80%;
    }
    .specs-rating-about-buttons {
        justify-content: space-around;
    }
}

.specs.active, .rating.active, .about.active {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.specs, .rating, .about {
    display: none;
}

.carousel {
    position: relative;
}
.carousel-container {
    display: flex;
    overflow: hidden;
}
.carousel-item {
    flex: 0 0 100%;
    transition: transform 0.5s ease;
}
.carousel-item img {
    width: 100%;
    height: auto;
}
.carousel-prev, .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}
.carousel-prev {
    left: 0;
}
.carousel-next {
    right: 0;
}

@media (max-width: 512px) {
    .sections .product-image {
        width: 100%;
        border-radius: 1rem;
    }
}