.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    border-radius: var(---border-radius);
    width: 350px;
    padding: 1rem 0;
}

.product-card:hover{
    background-color: var(---extra-dark-grey);
}

.product-card h2 {
    margin: 0.5em;
}

.product-card p {
    margin-bottom: 1em;
}

.product-card-logo {
    width: 15rem;
}

.add-to-card-button {
    border-radius: var(---border-radius);
    background-color: red;
    color: white;
    padding: 1em;
}

.add-to-card-button:hover {
    background-color: var(---blue);
    color: var(---dark-grey);
}