.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.product-card h2 {
    margin: 0.5rem;
}

.product-card p {
    margin-bottom: 0.5em;
}

.product-card-logo {
    width: 15rem;
}

.add-to-card-button {
    background-color: red;
    color: white;
    padding: 1em;
}

.add-to-card-button:hover {
    background-color: var(---blue);
    color: var(---black);
}