.product-page {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: black;
}

.product-page-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 1rem;
}

.product-page-logo {
    width: 20rem;
}

.red-button {
    border-radius: 5px;
    background-color: red;
    color: white;
    padding: 1em;
}

.red-button:hover {
    background-color: var(---blue);
    color: var(---dark-grey);
}