:root {
    ---yellow: #F7EC50;
    ---blue: #36EBF2;
    ---black: #000000;
    ---green: #00FF22D8;
    ---dark-grey: #333333;
    ---extra-dark-grey: #1A1A1A;

    ---border-radius: 5px;
}

* {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
    color: var(---yellow);
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    height: 100vh;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

h1, h2, h3, p {
    text-align: center;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(---extra-dark-grey);
}

.company-name {
    display: flex;
    align-items: center;
    margin: 0.5em;
    gap: 1rem;
}

.company-name h1 {
    font-size: 1.5rem;
}

header .navbar {
    margin-bottom: 0.5em;
    display: flex;
    gap: 1rem;
}

.navbar .btnLogin-popup {
    background: transparent;
    outline: none;
    cursor: pointer;
}

header img.logo {
    max-width: 100px;
    max-height: 100px;
}

.search-bar {
    margin: 0.5em;
}

.search-bar .search {
    padding: 6px;
    border: 2px solid var(---yellow);
    border-radius: var(---border-radius);
    background-color: var(---extra-dark-grey);
}

footer {
    text-align: center;
    background-color: var(---extra-dark-grey);
    padding: 1em;
}

footer h3 {
    color: var(---green);
    font-size: 1.5rem;
}

footer p {
    color: white;
    margin: 0.5em;
    font-size: 1rem;
}



