* {
    font-size: 20px;
    margin: 0;
    border: 0;
    padding: 0;
    color: var(---yellow);
    background-color: var(---black);
}

header, main, footer {
    margin: 1rem;
}

h1 {
    font-size: 2rem;
    margin: 0.5rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h1, h2, h3, p {
    text-align: center;
}

.product-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-of-products {
    display: flex;
    justify-content: center;
    width: 80%;
    flex-wrap: wrap;
}

:root {
    ---yellow: #F7EC50;
    ---blue: #36EBF2;
    ---black: #000000;
    ---focus-button-color: red;
    ---focus-button-text-color: white;
    ---focus-button-hover-color: darkred;
    ---green: #00FF22D8;
}
