
:root {
    ---dark-blue: #091833;
    ---blue: #133E7C;
    ---cyan: #05D9E8;
    ---yellow: #F7EC50;
    ---purple: #7700A6;
    ---purplepink: #C700FF;
    ---pink: #FE00FE;
}

.header {
    position: fixed;
    top: 0;
    background-color: var(---purplepink);
}

/* Style the header links */
.header a {
    /* adds space between the buttons */
    margin-left: 10px;
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header img.logo {
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
    float: left;
    border-radius: 6px;
}

/* Change the background color on mouse-over */
.header a:hover {
    background-color: #ec1717;
    color: black;
}

/* Style the active/current link*/
.header a.active {
    background-color: #1efff8;
    color: #0c0909;
}

/* Float the link section to the right */
.header .header-right {
    float: right;
}

.header input[type=text] {
    float: left;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-radius: 4px;
}

header .search button {
    padding: 6px;
    margin-top: 8px;
    border: none;
    float: right;
    margin-right: 16px;
    cursor: pointer;
}

button {
    border: none;
}

#productList li {
    display: none;
}

