body {
    margin: 0;
    /* TODO: bad code! this is here to make sure the header doesnt come in front of the main page */
    padding-top: 200px;
}

main {
    margin: 0 auto;
    width: 80%;
}

search {
    float: right;
    background-color: yellow;
}
.product {
    display: inline-block;
    width: 30%;
    margin: 10px;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product h2 {
    font-size: 1.2em;
    margin-top: 10px;
}