
.categories {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.categories .category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 80%;
}

.category-layer h3 {
    color: var(---secondText);
}

.products {
    padding: 2% 5% 6% 5%;
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.heading span{
    color: var(---secondText);
    font-size: 1.7rem;
}
