body {
    grid-template-rows: auto 1fr auto;
}

header {
    position: revert;
    width: revert;
}

main{
    padding: 0;
    background-attachment: unset;
}

.sections {
    height: 100%;
    justify-content: center;
}