body {
    grid-template-rows: auto 1fr auto;
}

.header {
    position: revert;
    width: revert;
}

.ghostHeader {
    display: none;
}

main {
    padding: 0;
    background-attachment: unset;
}

.login {
    background-color: var(---mainBackground);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1rem;
    padding: 2%;
}

.login .logReg-box {
    width: 30%;
}

.login .form-box.login {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: none;
}

.login.register .form-box.login {
    display: none;
}

.login .form-box.register{
    display: none;
}

.login.register .form-box.register {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: none;
}

.logReg-title {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    gap: 0.5rem;
}

.logReg-box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    border-bottom: 2px solid white;
}

.input-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    color: white;
    font-weight: 500;
    padding-right: 25px;
    background: transparent;
}

.input-box label span {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: white;
    font-weight: 500;
    pointer-events: none;
    transition: var(---transition-time);
}

.input-box input:focus~span,
.input-box input:valid~span {
    top: -5px;
}

.input-box .icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: white;
    font-size: 19px;
}

.checkmark-field {
    margin: -15px 0 15px;
    display: flex;
    flex-direction: row;
    user-select: none;
    gap: 0.5rem;
}

.checkmark-field label {
    display: flex;
    color: white;
    cursor: pointer;
    gap: 0.5rem;
}

.checkmark-field label:hover {
    text-decoration: underline;
}

.checkmark-field label input {
    cursor: pointer;
}

.logReg-box .btn {
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: var(---border-radius);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 600;
}

.btn:hover {
    background: var(---secondText);
}

.logReg-box .logReg-link {
    margin: 25px 0 15px;
    user-select: none;
}

.logReg-link p a {
    color: white;
    font-weight: 600;
    pointer-events: visible;
    cursor: pointer;
}

.logReg-link p a:hover {
    text-decoration: underline;
}

@media (max-width: 1440px) {
}