.product-page-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 1rem;
}

.buy-now-and-add-to-cart-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.red-button:hover {
    background-color: var(---secondText);
    color: var(---secondBackground);
    cursor: pointer;
}

.product-page-description h1 {
    font-size: 2rem;
    width: 100%;
    color: var(---secondText);
}

.product-intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.specs-button, .rating-button, .about-button {
    border-radius: 5px;
    background-color: var(---secondBackground);
    color: white;
    padding: 1em;
    margin: 1em;
}

.specs-rating-about-buttons{
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: space-around;
    list-style-type: none;
}

.specs.active, .rating.active, .about.active {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.specs, .rating, .about {
    display: none;
}

.specs-button:hover, .rating-button:hover, .about-button:hover {
    background-color: var(---secondBackground);
    color: var(---secondText);
    cursor: pointer;
}

.product-about-page {
    width: 100%;
}


.specs-rating-about-buttons {
    justify-content: space-around;
}

.product-image img{
    width: 70%;
    border-radius: 1rem;
}
.product-page-description {
}



@media (max-width: 1024px) {
    .product-image img{
        width: 100%;
        border-radius: 1rem;
    }

    .product-intro {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .product-page-description {
        width: 80%;
    }
}

@media (max-width: 512px) {
    .product-image img {
        height: 100%;
        width: 100%;
        border-radius: 1rem;
    }
}