<!DOCTYPE html>
<html lang="en">
  <head th:replace="~{components/head :: commonHead(~{::title}, ~{::link})}">
    <title>Account</title>
    <link rel="stylesheet" th:href="@{~/css/account.css}">
    <link rel="stylesheet" th:href="@{~/css/product-table.css}">
  </head>
  <body>
    <header th:replace="~{components/header}"></header>
    <main>
      <section class="sections">
        <h2 class="title">Account</h2>

        <section class="account-details">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 profile-image">
            <path stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"/>
          </svg>

          <section class="account-email-and-phone">
            <h3 th:text="${user.username}">Username</h3>
          </section>
        </section>

        <a class="focus-button" href="/logout">Log out</a>
        <section class="product-category-card">
            <h2 class="card-heading">Order History</h2>
            <div class="list-reverse">
                <section class="grey-box" th:each="purchase : ${purchases}">
                        <div class="div-row-account">
                            <h3 class="blue-text">ID: <span th:text="${purchase.getId()}"></span></h3>
                            <p class="blue-text">Date: <span th:text="${purchase.date}"></span></p>
                            <p class="blue-text">Total-price: <span th:text="|${#numbers.formatInteger(purchase.totalPrice,1,'WHITESPACE')} kr|"></span></p>
                        </div>
                        <div class="purchase-card">
                            <section th:replace="~{components/cart-products :: showPurchasedItems(${purchase.items})}"></section>
                        </div>
                </section>
            </div>
        </section>
      </section>
    </main>
    <footer th:replace="~{components/footer}"></footer>
    <script th:src="@{~/js/account.js}" defer></script>
  </body>
</html>
