<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CyberPunk Store</title>
    <link rel="icon" th:href="@{images/logo.png}">
    <link rel="stylesheet" th:href="@{~/css/style.css}"/>
    <link rel="stylesheet" th:href="@{~/css/account.css}"/>
</head>

<body>

<header th:replace="~{components/header}"></header>

<main>


    <section class="sections">
        <h1 class="title">Account</h1>

        <section class="account-details">

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 profile-image">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>

            <section class="account-email-and-phone">
                <h2>Username</h2>
                <a>UserEmail@email.com</a>
                <a>+123 123 45 678</a>
            </section>
        </section>

        <a class="red-button" href="/logout">Log out</a>
        <section class="product-category-card">
            <h2 class="card-heading">Cart <span>Products</span></h2>
            <div class="card-container" >
                <a class="card-box" th:each="quantity : ${quantities}" th:href="@{/product/{id} (id=${quantity.product.id})}">
                    <img th:src="@{/images/products/{image} (image=${quantity.product.image})}" th:alt="@{Picture of a {name} (name=${quantity.product.name})}" alt="bought products">
                    <div class="card-layer">
                        <h3 th:text="${quantity.product.name}"></h3>
                        <h3 th:text="${quantity.getAmount()}"></h3>
                        <i class='bx bx-info-circle'></i>
                    </div>
                </a>
            </div>
        </section>
    </section>


</main>

<footer th:replace="~{components/footer}"></footer>
<script th:src="@{~/js/cart-and-checkout.js}" defer></script>

</body>
</html>