<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CyberPunk Store</title>
    <link rel="icon" th:href="@{~/images/logo.webp}">
    <link rel="stylesheet" th:href="@{~/css/style.css}"/>
    <link rel="stylesheet" th:href="@{~/css/cart.css}"/>
</head>

<body>

<header th:replace="~{components/header}"></header>

<main>
    <section class="sections">
        <div class="progressbar">
                <a class="progress-bubble1 active">Products</a>
                <a class="progress-bubble2">Shipping</a>
                <a class="progress-bubble3" disabled>Payment</a>
        </div>

        <div class="cart-section active">
            <h1 class="title">Shopping Cart</h1>
            <a class="checkout-button button" >Checkout</a>
            <section th:replace="~{components/cart-products}"></section>
        </div>

        <div class="shipping-section">
            <form class="form-section">
                <h2 class="title">Shipping</h2>
                <button class="button" type="submit" id="completeOrder" disabled>Complete order</button>
                <h3>Shipping information</h3>
                <p id="invalid"></p>
                <div class="details-filling-form">
                    <label for="name" class="input-field-label">
                        <input class="input-field" id="name" onchange="checkInfo()" type="text" name="username" placeholder="Name" required>
                    </label>
                    <label for="surName" class="input-field-label">
                        <input class="input-field" id="surName" onchange="checkInfo()" type="text" name="username" placeholder="Last Name" required>
                    </label>
                    <label class="input-field-label">
                        <input class="input-field" id="address" placeholder="Address" type="text" onchange="checkInfo()" required>
                    </label>
                    <label class="input-field-label">
                        <input class="input-field" id="cardNumber" placeholder="Card Number" type="text" onchange="checkInfo()" required>
                    </label>
                    <label class="input-field-label">
                        <input class="input-field" id="phone" placeholder="Phone Number" type="text" onchange="checkInfo()" required>
                    </label>
                    <label class="input-field-label">
                        <input class="input-field" id="coupon" placeholder="Coupon Code" type="text" onchange="checkInfo()" required>
                    </label>
                </div>
            </form>
        </div>

        <div class="payment-section">
            <h2 class="title">Order Complete!</h2>
            <p class="product-about-page-description">Thank you for ordering from us! We hope to see you soon</p>
            <section class="product-category-card">
                <h3 class="card-heading">Cart Products</h3>
                <div class="card-container" >
                    <a class="card-box" th:each="quantity : ${quantities}" th:href="@{/product/{id} (id=${quantity.product.id})}">
                        <img th:src="@{/images/products/{image} (image=${quantity.product.image})}" th:alt="@{Picture of a {name} (name=${quantity.product.name})}" alt="bought products">
                        <div class="card-layer">
                            <h3 th:text="${quantity.product.name}"></h3>
                            <p th:text="${quantity.getAmount()}"></p>
                        </div>
                    </a>
                </div>
            </section>
        </div>
    </section>
</main>

<footer th:replace="~{components/footer}"></footer>
<script th:src="@{~/js/cart-and-checkout.js}" defer></script>

</body>
</html>