<!DOCTYPE html>
<html lang="en">
<head>
  <title>CyberPunk Store</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" th:href="@{images/logo.png}">
  <!-- Icons from boxicons -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <!-- personal styles -->
  <link rel="stylesheet" th:href="@{~/style.css}"/>

</head>
<body>
<header th:replace="~{components/header}"></header>

<section th:replace="~{components/homepage-category}"></section>

<section th:replace="~{components/featured-products}"></section>

<footer th:replace="~{components/footer}"></footer>

</body>
</html>