<!DOCTYPE html>
<html lang="en">
<head>
  <title>CyberPunk Store</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" th:href="@{images/logo.png}">
  <!-- personal styles -->
  <link rel="stylesheet" th:href="@{~/css/style.css}"/>
  <link rel="stylesheet" th:href="@{~/css/category.css}"/>

</head>
<body>
<header th:replace="~{components/header}"></header>
<main>
  <section class="sections">
    <section class="categories">
        <h2 class="heading">Category list</h2>
      <div class="category-container" >
        <a class="category-box" th:each="category : ${categories}" th:href="@{/category/{id} (id=${category.id})}">
         <div class="category-layer">
            <h3 th:text="${category.name}"></h3>
          </div>
        </a>
      </div>
    </section>

    <section class="products">
      <h2 class="heading">Products list for <span th:text="*{category != null}? *{category.name} : 'All' "></span></h2>

      <div class="card-container" >
        <a class="card-box" th:each="product : ${products}" th:href="@{/product/{id} (id=${product.id})}">
          <picture>
            <source media="(min-width: 2048px)" th:srcset="@{~/images/products/2048w/{image} (image=${product.imageWebp2048})}">
            <source media="(min-width: 2048px)" th:srcset="@{~/images/products/2048w/{image} (image=${product.imageJpg2048})}">
            <source media="(min-width: 1024px)" th:srcset="@{~/images/products/1024w/{image} (image=${product.imageWebp1024})}">
            <source media="(min-width: 1024px)" th:srcset="@{~/images/products/1024w/{image} (image=${product.imageJpg1024})}">
            <source media="(min-width: 512px)" th:srcset="@{~/images/products/512w/{image} (image=${product.imageWebp512})}">
            <source media="(min-width: 512px)" th:srcset="@{~/images/products/512w/{image} (image=${product.imageJpg512})}">
            <img th:src="@{~/images/products/{image} (image=${product.image})}" th:alt="@{Picture of {name} (name=${product.name})}">
          </picture>
            <div class="card-layer">
            <h3 th:text="${product.name}"></h3>
          </div>
        </a>
      </div>
    </section>
  </section>
</main>
<footer th:replace="~{components/footer}"></footer>

</body>
</html>