<!DOCTYPE html>
<html lang="en">
  <head th:replace="~{components/head :: commonHead(~{::title}, ~{::link})}">
    <link rel="stylesheet" th:href="@{~/css/error.css}"/>
</head>
<body>
  <header th:replace="~{components/header}"></header>
<main>
  <section class="sections">
    <h1>Oops! Something went wrong.</h1>
    <p>We're sorry, but something went wrong while processing your request. Please try again later.</p>
    <button class="focus-button" onclick="window.history.back();">Go back</button>
  </section>
</main>
  <footer th:replace="~{components/footer}"></footer>
</body>
</html>