<!DOCTYPE html>
<html lang="en">
  <head th:replace="components/head :: common_head(~{::title})">
    <title>Cyberpunk Store</title>
</head>
<body>
  <header th:replace="components/header"></header>


  <main class="product-page">
    <h2 class="header-for-product-list">Featured Products</h2>
    <section class="products">
      <ul class="list-of-products">
        <li  th:replace="components/product-card"></li>

        <li  th:replace="components/product-card"></li>
        <li  th:replace="components/product-card"></li>
        <li  th:replace="components/product-card"></li>
        <li  th:replace="components/product-card"></li>
        <li  th:replace="components/product-card"></li>
        <li  th:replace="components/product-card"></li>
        <li  th:replace="components/product-card"></li>
        <li  th:replace="components/product-card"></li>
        <li  th:replace="components/product-card"></li>
        <li  th:replace="components/product-card"></li>
        <li  th:replace="components/product-card"></li>
      </ul>
    </section>
  </main>

  <footer th:replace="components/footer"></footer>
</body>
</html>