<!DOCTYPE html>
<html lang="en">
    <head th:replace="~{components/head :: commonHead(~{::title}, ~{::link})}">
    <title th:text="'CyberPunk Store - ' + ${product.name}"></title>
    <link rel="stylesheet" th:href="@{~/css/product-page.css}">
    <link rel="stylesheet" th:href="@{~/css/card.css}">
    </head>
    <body>
        <header th:replace="~{components/header}"></header>
        <main>
            <section class="sections">
                <section class="product-intro">
                    <th:block th:if="${product?.image != null} ">
                        <picture th:replace="~{components/webpImage ::  webp(${product.image},${product.name})}"></picture>
                    </th:block>

                    <section class="product-page-description">
                        <h2 th:text="${product.name}"></h2>
                        <p class="product-description" th:text="${product.shortDescription}"></p>
                        <p class="price" th:text="|${#numbers.formatInteger(product.price,1,'WHITESPACE')} kr|"></p>
                        <form th:action="@{/cart/{id} (id=${product.id})}" method="post" >
                            <button class="focus-button">Add to Cart</button>
                        </form>
                    </section>
                </section>

                <section id="about">
                    <h3>About</h3>
                    <p class="product-about-page-description">
                        Information about this product</p>
                    <p class="product-page-description"
                       th:text="${product.description}"></p>
                </section>

                <section class="related-products">
                    <h2>Related Products</h2>
                    <div class="row">
                        <section th:replace="~{components/product-card}"></section>
                    </div>
                </section>
            </section>
        </main>
        <footer th:replace="~{components/footer}"></footer>
    </body>
</html>
