<!DOCTYPE html>
<html lang="en">
    <head th:replace="~{components/head :: commonHead(~{::title}, ~{::link})}">
    <title th:text="'CyberPunk Store - ' + ${product.name}"></title>
    <link rel="stylesheet" th:href="@{~/css/product-page.css}"/>
    <link rel="stylesheet" th:href="@{~/css/product-card.css}"/>

</head>
<body>
    <header th:replace="~{components/header}"></header>
    <main>
        <section class="sections">

            <section class="product-intro">
                <th:block th:if="${product?.image != null} ">
                    <img th:replace="~{components/webpImage ::  webp(${product.image},${product.name})}"/>
                </th:block>

                <section class="product-page-description">
                    <h2 th:text="${product.name}"></h2>
                    <p class="product-description" th:text="${product.shortDescription}"></p>
                    <p class="price"><span th:text="${#numbers.formatInteger(product.price,1,'WHITESPACE')}"></span> kr</p>
                    <form th:action="@{/cart/{id} (id=${product.id})}" method="post" >
                        <button class="focus-button">Add to Cart</button>
                    </form>
                </section>
            </section>

            <section class="specs-rating-about-buttons">
                <button id="about-button" class="boring-button">About</button>
                <button id="specs-button" class="boring-button">Specs</button>
                <button id="rating-button" class="boring-button">Rating</button>
            </section>

            <section id="about" class="active">
                <h3>About</h3>
                <p class="product-about-page-description">
                    Information about this product</p>
                <p class="product-page-description"
                   th:text="${product.description}">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </section>

            <section id="specs">
                <h3>Specs</h3>
                <p class="product-about-page-description">Specs about this product</p>
                <p class="product-page-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </section>

            <section id="rating">
                <h3>Rating</h3>
                <p class="product-about-page-description">
                    Rating about this product</p>
                <p class="product-page-description">
                    This Product is a great product.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </section>

            <section class="related-products">
                <h2>Related Products</h2>
                <div class="row">
                    <section th:replace="~{components/product-card}"></section>
                </div>
            </section>
        </section>
    </main>
    <footer th:replace="~{components/footer}"></footer>
    <script th:src="@{~/js/product-page.js}" defer></script>
</body>
</html>
