<!DOCTYPE html>
<html lang="en">
    <head th:replace="components/head :: common_head(~{::title})">
        <title>Cyberpunk Store - Products</title>
    </head>
<body>
<header th:replace="components/header" class="header"></header>
<ul class="product-page">


    <img class="product-page-logo" th:src="@{images/logo.png}" alt="Logo">

    <li class="product-page-description">
        <h1 class="product-page-title">Product 1</h1>
        <p class="product-page-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p class="product-page-price">$100</p>
        <button class="add-to-card-button" >Add to Cart</button>
    </li>
</ul>
<ul class="product-about-page">
    <ul class="specs-rating-about-buttons">
        <li class="specs-button">
            <a class="specs-button">Specs</a>
        </li>
        <li class="rating-button">
            <a class="rating-button">Rating</a>
        </li>
        <li class="about-button">
            <a class="about-button">About</a>
        </li>
    </ul>
    <li class="product-about-page-description">
        <h1 class="title">Specs</h1>
        <p class="product-about-page-description">Specs about this product</p>
</ul>

<footer th:replace="components/footer"></footer>
</body>
</html>