<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Cyberpunk Gaming Gear is a cutting edge company specializing in the most advanced cyberpunk gaming gadgets available. From headsets to keyboards, mice to controllers, we have everything you need to get the most out of your gaming experience. Our products feature the latest in cyberpunk technology, with sleek designs and advanced capabilities. Experience the power of cyberpunk gaming with us today! Let us take your gaming to the next level.">
    <title th:text="'CyberPunk Store - ' + ${product.name}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" th:href="@{~/images/logo.webp}">
    <!-- personal styles -->
    <link rel="stylesheet" th:href="@{~/css/style.css}"/>
    <link rel="stylesheet" th:href="@{~/css/product-page.css}"/>
    <link rel="stylesheet" th:href="@{~/css/product-category-card.css}"/>

</head>
<body>
    <header th:replace="~{components/header}"></header>
    <main>
        <section class="sections">
            <section class="product-intro">
                <th:block th:if="${product?.image != null} ">
                    <picture th:replace="~{components/webpImage ::  webp(${product.image}, products, ${product.name})}"></picture>
                  </th:block>

                <section class="product-page-description">
                    <h2 th:text="${product.name}"></h2>
                    <p class="product-description" th:text="${product.description}"></p>

                    <form th:action="@{/cart/{id} (id=${product.id})}" method="post" >
                        <button class="button" >Add to Cart</button>
                    </form>
                </section>
            </section>

            <section class="specs-rating-about-buttons">
                <button class="specs-button" >Specs</button>
                <button class="rating-button" >Rating</button>
                <button class="about-button" >About</button>
            </section>

            <section class="specs">
                <h2>Specs</h2>
                <p class="product-about-page-description">Specs about this product</p>
                <p class="product-page-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </section>

            <section class="about active">
                <h2>About</h2>
                <p class="product-about-page-description">Information about this product</p>
                <p class="product-page-description" th:text="${product.description}">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </section>

            <section class="rating">
                <h2>Rating</h2>
                <p class="product-about-page-description">Rating about this product</p>
                <p class="product-page-description">This Product is a great product. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </section>

            <section th:replace="~{components/product-card}"></section>

        </section>
    </main>
    <footer th:replace="~{components/footer}"></footer>
    <script th:src="@{~/js/product-page.js}" defer></script>
</body>
</html>
