<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Product Search Results</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" th:href="@{~/images/logo.webp}">
  <!-- personal styles -->
  <link rel="icon" th:href="@{~/images/logo.webp}">
  <link rel="stylesheet" th:href="@{~/css/style.css}"/>
  <link rel="stylesheet" th:href="@{~/css/cart.css}"/>
</head>
<body>
<header th:replace="~{components/header}"></header>
<main>
  <section class="sections">
    <h1>Product Search Results</h1>
      <section th:replace="~{components/common-card}"></section>
    </section>
</main>
<footer th:replace="~{components/footer}"></footer>
</body>
</html>
