<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Product Search Results</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" th:href="@{~/images/logo.webp}">
  <!-- personal styles -->
  <link rel="stylesheet" th:href="@{~/css/style.css}"/>
  <link rel="stylesheet" th:href="@{~/css/cart.css}"/>
    <link rel="stylesheet" th:href="@{~/css/product-card.css}"/>
</head>
<body>
<header th:replace="~{components/header}"></header>
<main>
  <section class="sections">
    <h2>Product Search Results</h2>
    <th:block th:if="${products.size == 0}">
      <h3>No products found</h3>
    </th:block>
    <th:block th:if="${products.size > 0}">
      <section th:replace="~{components/product-card}"></section>
    </th:block>
    </section>
</main>
<footer th:replace="~{components/footer}"></footer>
</body>
</html>
